<h1>Editing book management</h1>

<%= render "form", book_management: @book_management %>

<br>

<div>
  <%= link_to "Show this book management", @book_management %> |
  <%= link_to "Back to book managements", book_managements_path %>
</div>
