<div class="container">
  <div class='content'>
    <div class= 'logo'>
        <img src="/logo.png" alt="logo">
        <p class ="tittle">Quản lý cho mượn sách</p>
    </div>
    <div >
        <span class = 'action'>Quy định ngày quá hạn</span>
    </div>
  </div>
</div>

  <table class="table align-middle mb-0 bg-white table-striped">
    <thead class="bg-light">
      <tr>
        <th>TT</th>
        <th>STT</th>
        <th>Mã HS</th>
        <th>Họ và Tên</th>
        <th>Lớp</th>
        <th>Mã sách</th>
        <th>Tên Sách</th>
        <th>Tên tác giả</th>
        <th>Tủ sách</th>
        <th>Số BM</th>
        <th>Ngày mượn</th>
        <th>Ngày trả</th>
        <th>Số ngày</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>1</td>
        <td>3b035</td>
        <td>Hồ Thiện Phước</td>
        <td>3B</td>
        <td>TN1606</td>
        <td>Ruby on rails</td>
        <td>ABC</td>
        <td>Lập trình</td>
        <td>1442</td>
        <td>04/11/2022</td>
        <td>04/11/2023</td>
        <td>4</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>2</td>
        <td>3b035</td>
        <td>Hồ Thiện Phước</td>
        <td>3B</td>
        <td>TN1606</td>
        <td>Ruby on rails</td>
        <td>ABC</td>
        <td>Lập trình</td>
        <td>1442</td>
        <td>04/11/2022</td>
        <td>04/11/2023</td>
        <td>4</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>3</td>
        <td>3b035</td>
        <td>Hồ Thiện Phước</td>
        <td>3B</td>
        <td>TN1606</td>
        <td>Ruby on rails</td>
        <td>ABC</td>
        <td>Lập trình</td>
        <td>1442</td>
        <td>04/11/2022</td>
        <td>04/11/2023</td>
        <td>4</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>