/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* begin header */
.header {
  width: 35%;
  text-align: center;
  margin-top: 10px;
}

.header p {
  color: green;
  margin: 0;
  font-weight: 700;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  margin: 16px auto;
}

.logo {
  width: 50%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 10%;
  margin-right: 30px;
}

.logo p {
  color: red;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.action {
  color: #000000;
  line-height: 1.5em;
  display: block;
  position: relative;
}

.action::before {
  content: "3";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -35px;
  border: 2px solid #da7878;
  color: #000;
  text-align: center;
}
/* end header */

/* begin table */
th,
td {
  text-align: center;
  border: 1px solid #ccc;
}

td {
}
/* end table */
